<table class="table table-hover">

    <thead class="table-dark"> 
        <tr>
            <td></td>
            <td>Product</td>
            <td>Unit Price</td>
            <td>Units in Stocks</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td>
                <img src="{{product.imageUrl}}" height="50">
            </td>

            <td>{{product.name}}</td>
            <td>{{product.unitPrice}}</td>
            <td>{{product.unitsInStock}}</td>
        </tr>
    </tbody>

</table>
